.search {
    width: 370px;
    padding: 10px 5px;
    float: left;
    border: 0;
    background: transparent;
    border-radius: 3px 0 0 3px;
    font-size: large;
}

.search:focus {
    outline: 0;
    background: transparent;
}