:root {
    --white-text: #fff;
}

.button {
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 120px;
    background: transparent;
    border-left: 1px solid var(--white-text);
    border-radius: 0 3px 3px 0;
    font-size: medium;
    color: var(--white-text);
}

.button:hover {
    background: var(--white-text);
    color: #444;
}

.button:active {
    box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
}
.button:focus {
    outline: 0;
}

@media (max-width: 500px) {
    .button {
        margin-left: 10px;
        height: 40px;
        width: 60px;
        background-color: #fff;
        color: #000;
    }
}