@import url(https://fonts.googleapis.com/css?family=Tenor+Sans|PT+Serif:400,400italic,700,700italic&subset=latin,cyrillic);

.head {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    bottom: 50px;
    margin: 0;
    width: 100%;
    height: 300px;
    text-align: center;
  }
  
  .h1 {
    font-family: 'Tenor Sans', sans-serif;
    font-style: italic;
    font-size: 4rem;
  }