@import url(https://fonts.googleapis.com/css?family=Tenor+Sans|PT+Serif:400,400italic,700,700italic&subset=latin,cyrillic);

.head {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    align-items: center;
    bottom: 50px;
    margin: 0;
    width: 100vw;
    height: 250px;
    text-align: center;
    background: url(https://images.wallpaperscraft.ru/image/single/knigi_nadpis_chb_168086_1920x1080.jpg)
        no-repeat center center fixed;
    background-size: cover;
}

.h1 {
    margin: 0;
    font-family: 'Tenor Sans', sans-serif;
    font-style: italic;
    font-size: 4rem;
}

.fixedHeader {
    position: fixed;

    top: 0;
}
